/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* My Code */

/* Main Highlight */
.ipnone15pro {
  background-image: url("../images/home/sm-iphone15 pro.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px 30px;
  color: #fff;
}
.links-wrapper ul li a:hover {
  text-decoration: underline;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* Second Highlight Section */
.iphon15 {
  background-image: url("../images/home/iPhone 15 camera pro.png");
  height: 500px;
  padding: 50px 20px;
  color: #fff;
}
.title-wraper {
  font-weight: 600;
  font-size: 56px;
  color: black;
}
/* Third Highlight Section */
.apple-watch {
  background-image: url("../images/home/appe watch pro.png");
  height: 580px;
}

.ipadPro {
  background-image: url("../images/home/sm-ipad pro.png");
  height: 580px;
}
.visionPro {
  background-image: url("../images/home/Vision Pro.png");
  height: 580px;
}
.mack-book {
  background-image: url("../images/home/MacBook Air 15.png");
  height: 400px;
}
.airPods {
  background-image: url("../images/home/AirPod Pro.png");
  height: 400px;
}
.trade-in {
  background-image: url("../images/home/Trade in .png");
  height: 400px;
}
.iphon-card {
  background-image: url("../images/home/appl Card.png");
  height: 400px;
}

/*Sixt
/* Slider  */
.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
  .ipnone15pro {
    background-image: url("../images/home/iphone 15 pro.png");
    height: 580px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background-image{
    height: 90vh;
  }
  .footer-links-wrapper ul li a{
    text-decoration: none;
  }
  .footer-links-wrapper ul li a:hover{
    text-decoration: underline;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
